[Dd]ebug/
[Rr]elease/
[Bb]in/
[Oo]bj/
*.exe
*.dll
*.pdb
*.suo
*.user
*.userprefs
*.vs/
*.*proj.user


Migrations/


node_modules/
npm-debug.log
.sass-cache
.vagrant


[Tt]humbs.db

global.json

.vscode/
appsettings.Development.json